.feature {
  font-family: Oswald, sans-serif;
  max-width: 70rem;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 3rem auto;
}

.featureContainer {
  display: flex;
  flex-direction: row;
  margin: 3rem 0;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
}

.reverseWrap {
  flex-flow: row-reverse wrap;
}

.reverseWrap img {
  margin-right: 0;
}

.reverseWrap ul {
  align-items: flex-start;
}

.featuredImages {
  max-width: 40rem;
  max-height: auto;
  width: 100%;
  margin-right: 4rem;
  flex: 1 0 66%;
}

.featuredDetailsContainer {
  margin: 0;
  /* margin-left: 8rem; */
  padding: 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 33%;
}

.featuredDetailsContainer li {
  flex-wrap: no-wrap;
  list-style: none;
}

.featuredSubTitle {
  font-size: 2.15rem;
}

.featuredSubTitle:after {
  content: "";
  display: block;
  width: 3rem;
  height: 4px;
  margin-top: 1rem;
  background-color: #d3af7e;
  /* margin: 1rem auto 0 auto; */
}

.featuredDetailsContainer li {
  letter-spacing: 2px;
  font-size: 1.33rem;
  font-weight: 400;
  margin: 0.25rem 0;
}

.featuredItemInfo {
  font-size: 0.75rem !important;
  margin-top: -0.25rem !important;
}

@media screen and (max-width: 1070px) {
  /* .featureContainer {
    flex-direction: column;
  } */
}
