html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.BigPoppaContainer {
  background-image: url(/images/bg1.jpg);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: contain;
  overflow: hidden;
}

.contentLine {
  margin: 2.5rem 0;
  border: none;
  height: 3px;
  color: #d3af7e;
  background-color: #d3af7e;
}
