.locationContainer {
  margin: 5rem 3rem;
  margin-top: -4rem;
  font-family: Oswald, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationContent {
  margin-top: 3rem;
  width: 100%;
  max-width: 70rem;
  min-height: 21rem;
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
}

.mapContext {
  width: 33%;
  font-size: 1.25rem;
  padding-right: 1.5rem;
}

.hours h3 {
  margin-bottom: -1.25rem;
}

/* .hours h3 {
  margin-bottom: 0;
} */

.map {
  width: 100%;
  max-width: 45rem;
  /* background-color: black; */
}

.orderButton {
  background-color: black;
  color: white;
  max-width: 13rem;
  padding: 0.25rem 0.45rem;
  font-size: 1.45rem;
  text-align: center;
  transition: 0.3s;
}

.orderButton:hover {
  background-color: #ce001d;
}

.orderButton a:hover {
  text-decoration: underline;
}

.tel:hover {
  text-decoration: underline;
}

@media screen and (max-width: 880px) {
  .locationContent {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .mapContext {
    padding: 0;
    align-self: center;
    text-align: center;
    min-width: 50%;
  }

  .orderButton {
    margin: 0 auto;
  }

  .map {
    height: 20rem;
  }
}
