.menuContainer {
  font-family: Oswald, sans-serif;
  padding: 0 1rem;
  display: flex;
}

.menuContainer hr {
  margin: 2.5rem 0;
  border: none;
  height: 3px;
  color: #d3af7e;
  background-color: #d3af7e;
}

.mainMenuContainer {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;
}

.menuTitle {
  display: block;
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 0;
}

.menuSubTitle {
  letter-spacing: 2px;
}

.menuText {
  font-size: 1.15rem;
  font-weight: 400;
}

.baseChoicesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseChoicesContainer div {
  flex: 1 1 50%;
}

.hasAfter:after {
  content: "";
  display: block;
  width: 3rem;
  height: 4px;
  margin-top: 1rem;
  background-color: #d3af7e;
  margin: 1rem auto 0 auto;
}

.menuList {
  margin: 0;
  padding: 0;
  column-count: 3;
}

.menuListItem {
  margin: 8px 0;
  padding: 0;
  list-style: none;
}

.menuListItem span {
  padding-left: 5px;
  font-size: 0.75rem;
}

.pizzaTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.15rem;
  font-weight: 600;
}

.pizzaTable thead tr th {
  padding: 0;
  width: 10%;
}

.pizzaTable tbody tr th {
  border-bottom: 1px solid #d3af7e;
  margin: 0 2rem;
  text-align: left;
  width: 20%;
  padding: 0.8rem 0;
}

.pizzaTable tbody tr td {
  border-bottom: 1px solid #d3af7e;
  text-align: center;
  position: relative;
}

.menuMarkerList {
  display: none;
}

.shortContainer {
  width: 80%;
  margin: 3.5rem auto;
  font-size: 1.15rem;
}

@media screen and (max-width: 881px) {
  .pizzaTable thead tr th {
    display: none;
  }

  .menuMarkerList {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  .menuMarkerList h2 {
    position: relative;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
  }

  .menuMarkerList h2:after {
    position: absolute;
    transform: translate(225%, 25%);
    font-size: 0.75rem;
    color: #ce001d;
  }

  .pizzaTable tbody td:after {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%);
    color: #d3af7e;
  }

  .displayA:after {
    content: "A";
  }

  .displayB:after {
    content: "B";
  }
  .displayC:after {
    content: "C";
  }
  .displayD:after {
    content: "D";
  }
  .displayE:after {
    content: "E";
  }
  .displayF:after {
    content: "F";
  }
}
